@charset "UTF-8";

table {
    width: 650px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

thead th {
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

td {
    border: 1px solid black;
}

th {
    background-color: gray;
    border: 1px solid black;
}

.emp {
    text-align: center;
}

tfoot th a {
    text-decoration: none;
    color: white;
}